# Ignore .env files
*.env

# Ignore the apifile.py file in the weather app
SpaceCodey/weather/apifile.py

# Ignore virtual environment
venv/

# Ignore database
*/db.sqlite3

# Ignore compiled Python files
*.pyc
__pycache__/
*/__pycache__
**/__pycache__/*

# Ignore local settings
local_settings.py

# Ignore debug files
SpaceCodey/api_response.txt
SpaceCodey/forcast_api_response.txt

# Django related
*.log
*.pot

# IDE specific
.vscode/
.idea/

# Testing and coverage
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.egg-info/
