{% extends "base.html" %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/nasa_apod.css' %}">
{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class='nasa_apod_body'>
            <header class="text-center mb-5">
                <h1 class="display-4">NASA Picture of the Day</h1>
            </header>
            <div class="card">
                <a id="photo-link" href="{{ img_url }}" target="_blank">
                    <img id="image" src="{{ img_url }}" class="card-img-top img-fluid rounded" alt="NASA Image" style='width: 100%; border-radius: 5px;'>
                </a>
                <div class="card-body">
                    <p id="copyright" class="card-text mb-3 text-muted">By {{ copyright }}</p>
                    <h2 id="title" class="card-title">{{ title }}</h2>
                    <p id="explanation" class="card-text">{{ explanation }}</p>
                    <div id="attribution" class="card-text text-muted small">Image credits: NASA</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
