{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | CodeStarHub</title>
    <link rel="stylesheet" href="{% static 'css/register_login.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body class="bg-dark">
    {% include 'account/navbar_minimal.html' %}
    
    <div class="main-container mt-5">
        <div class="form-container">
            <div class="form-header text-center">
                <h2>Welcome Back to <span>CodeStarHub</span></h2>
                <p>Log in and continue your cosmic exploration</p>
            </div>
            <form method="post" action="{% url 'account:login' %}" class="form-body">
                {% csrf_token %}
                {% if form.errors %}
                    <p class="alert alert-info mt-3">
                        Note: To access all features, please make sure to verify your email address. If you haven't received a verification email, check your spam folder or <a href="{% url 'account:resend_verification' %}">click here</a> to resend it.
                    </p>

                    <div class="alert alert-danger">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="Username or Email" value="{{ form.username.value|default:'' }}" required>
                </div>
                <div class="form-group position-relative">
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                    <i class="far fa-eye toggle-password" onclick="togglePassword('password')"></i>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Log In</button>
            </form>
            <div class="form-footer text-center">
                <p>Don't have an account? <a href="{% url 'account:register' %}">Sign up here</a></p>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="{% static 'js/register_login.js' %}"></script>
</body>
</html>
