{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing Page</title>
    <link rel="stylesheet" href="{% static 'css/landing_page.css' %}">
    <link rel="preload" href="{% static 'images/astronomy.jpg' %}" as="image">
    <link rel="preload" href="{% static 'images/programmer.png' %}" as="image">
  </head>
  <body>
    <div class="container">
      <div class="split left">
        <h1>CodeStarHub</h1>
        <a href="{% url 'home' %}" class="button">Explore My Site</a>
      </div>
      <div class="split right">
        <h1>The Programmer</h1>
        <a href="https://www.linkedin.com/in/ahmad-danaf-b37261215/" class="button">About Me</a>
      </div>
    </div>
    <script src="{% static 'js/landing_page.js' %}"></script>
  </body>
</html>
