{% load static %}
<nav class="navbar mynav navbar-expand-lg navbar-light bg-light" role="navigation" id="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">CodeStarHub</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'nasa:nasa_apod' %}">NASA APOD</a></li>
                <li><a href="{% url 'nasa:ISS-tracker' %}">ISS tracker</a></li>
                <li><a href="{% url 'weather:weather_index' %}">Weather</a></li>
                <li><a href="{% url 'events:optimal_times_form' %}">Optimal Shoot Times</a></li>
                <li><a href="{% url 'events:body_info' %}">Astronomy Tracker</a></li>
                <li><a href="#">Tips</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'account:logout' %}">Logout</a></li>
                    <li><a href="{% url 'account:update_profile' %}">Profile</a></li>
                {% else %}
                    <li><a href="{% url 'account:login' %}">Login</a></li>
                    <li><a href="{% url 'account:register' %}">Signup</a></li>
                {% endif %}
                <li><a href="#">Contact Us</a></li>
                <li><a href="{% url 'landing-page' %}">Landing Page</a></li>
            </ul>
        </div>
    </div>
</nav>
